<div class="container">

  <div class="top-part">

    <span class="header-menu">
      <a class="no-padding">О компании</a>
      <a class="padding">Услуги</a>
      <a class="padding">Корпоративный отдых</a>
      <a class="padding">Контакты</a>
    </span>

    <span class="right-side">
      <span class="drop-down-list">
      <select>
        <option value="UAH">UAH</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>
      </span>


      <img src="assets/images/icon-man.png" style="height: 10px; width: 10px;">
       <a style="margin-left:10px;">Войти в кабинет</a>
    </span>

  </div>

  <div class="bottom-part">
    <span class="align-content">
      <img src="assets/images/logo.png" class="logo-image-border">


      <ul class="statistics-list">
        <li>{{hotels}}</li>
        <li>{{responses}}</li>
      </ul>

    </span>

    <div class="phone-number align-content">
      <img src="assets/images/phone.png" >
      <ul>
        <li>
          <select>
            <option value="0 800 40 81 70">0 800 40 81 70</option>
            <option value="0 800 40 81 80">0 800 40 81 80</option>
            <option value="0 800 40 81 90">0 800 40 81 90</option>
          </select>
        </li>
        <li>
          <a>Заказать обратный звонок</a>
        </li>
      </ul>
    </div>

    <div class="menu-container align-content" *ngFor="let item of items">
      <app-menu-item [dataValue]="item"></app-menu-item>
    </div>

    <button type="button" class="add-reply__button" >+ Добавить отзыв</button>

  </div>

</div>
