.container {
  padding: 10px 40px 40px;
}

.header {
  font-family: Geometria-Medium, monospace;
  width: 900px;
}

.under-header {
  font-family: UltimaPro, monospace;
}

.article-holder {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

.switch-button {
  width: 430px;
  height: 45px;
  background: transparent;
  border: 1px solid #595e7a;
}

.switch-button-left {
  margin-right: 20px;
}

.switch-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

